/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo{
    font-size: 2.5rem;
    font-weight: 700;
}
.subtitulo{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
}

/* Menu */
header{
    border-bottom: 2px solid black;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 6.5rem;
    font-weight: 550;
    font-size: 1.2em;
}
.navbar-expand-lg:hover .navbar-nav:hover .nav-link:hover{
    color: rgb(141, 56, 52);
}

/* Catalogo */
a{
    color: black;
    text-decoration: none;
}
.search{
    height: 40px;
    width: 100%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(141, 56, 52);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(141, 56, 52);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}

/* Carrito */
.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.table__productos{
    display: flex;
}
.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}
.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

/* footer */
.cnt-footer{
    background-color: black;
    color: white;
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}
.cnt-footer input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.cnt-footer::placeholder{
    color: white;
}
.cnt-footer p{
    margin: 0;
}
footer .col-lg-3:nth-child(1) a,
footer .col-lg-3:nth-child(2) a,
footer .col-lg-3:nth-child(3) a{
    display: block;
    color: white;
    text-decoration: none;
}

/* Iconos */
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}


